<!-- <div class = "footer">
	<mat-toolbar> 
		<div class = "home">
			<div class="navbar-start">
				<button mat-icon-button routerLink = "/">
					<mat-icon>home</mat-icon>
				</button>
			</div>
		</div>
		
		<div class = "notifications">
			<button mat-icon-button routerLink = "/">
				<mat-icon>notifications_none</mat-icon>
			</button>
		</div>
		
		<div class = "gettone">
			<img src = "assets/gettone111.png">
		</div>
		
		<div class = "search">
			<button mat-icon-button routerLink = "/">
				<mat-icon>search</mat-icon>
			</button>
		</div>
	
		<div class = "account">
			<button mat-icon-button routerLink = "/">
				<mat-icon>account_circle</mat-icon>
			</button>
		</div>
		
	</mat-toolbar>
</div>-->



<!-- Footer 
<div class ="footer"> 
	<mat-toolbar>   
		<ul>      
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>home</mat-icon></button></a></li>
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>notifications_none</mat-icon></button></a></li>
			<li><a> <div class = "gettone">  <img src = "assets/gettone111.png" routerLink = "/"> </div> </a></li>
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>search</mat-icon></button></a></li>
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>account_circle</mat-icon></button></a></li>	
		</ul>  
	</mat-toolbar> -->
	
  
<div class ="footer"> 
	<mat-toolbar>
		<div class = "home">
			<button mat-icon-button routerLink = "/">
				<mat-icon>home</mat-icon>
			</button>
		</div>
		<div class = "gettone">
			<img src = "assets/gettone111.png" routerLink = "/">
		</div>
		<div class = "emoji_events">
			<button mat-icon-button routerLink = "/">
				<mat-icon>emoji_events</mat-icon>
			</button>
		</div>
	</mat-toolbar>
</div>

<!-- 
<div class ="footer"> 
	<mat-tab-group headerPosition="below" color="red" backgroundColor="orange">
  			<mat-tab routerLink = "/help">
    				<ng-template mat-tab-label>
      				<mat-icon class="home">home</mat-icon>
      			</ng-template>
      		</mat-tab>
			<mat-tab routerLink = "/help">
    				<ng-template mat-tab-label>
      				<mat-icon class="notifications">notifications_none</mat-icon>
      			</ng-template>
      		</mat-tab>
      		<mat-tab routerLink = "/help">
    				<ng-template mat-tab-label>
      				<div class="gettone"><img src = "assets/gettone111.png" routerLink = "/"></div>
      			</ng-template>
      		</mat-tab>
			<mat-tab routerLink = "/help">
    				<ng-template mat-tab-label>
      				<mat-icon class="search">search</mat-icon>
      			</ng-template>
      		</mat-tab>
			<mat-tab routerLink = "/help">
    				<ng-template mat-tab-label>
      				<mat-icon class="account">account_circle</mat-icon>
      			</ng-template>
      		</mat-tab>
      	</mat-tab-group>
</div>
-->

