<!-- <div class = "footer">
	<mat-toolbar> 
		<div class = "home">
			<div class="navbar-start">
				<button mat-icon-button routerLink = "/">
					<mat-icon>home</mat-icon>
				</button>
			</div>
		</div>
		
		<div class = "notifications">
			<button mat-icon-button routerLink = "/">
				<mat-icon>notifications_none</mat-icon>
			</button>
		</div>
		
		<div class = "gettone">
			<img src = "assets/gettone111.png">
		</div>
		
		<div class = "search">
			<button mat-icon-button routerLink = "/">
				<mat-icon>search</mat-icon>
			</button>
		</div>
	
		<div class = "account">
			<button mat-icon-button routerLink = "/">
				<mat-icon>account_circle</mat-icon>
			</button>
		</div>
		
	</mat-toolbar>
</div>-->



<!-- Footer 
<div class ="footer"> 
	<mat-toolbar>   
		<ul>      
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>home</mat-icon></button></a></li>
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>notifications_none</mat-icon></button></a></li>
			<li><a> <div class = "gettone">  <img src = "assets/gettone111.png" routerLink = "/"> </div> </a></li>
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>search</mat-icon></button></a></li>
			<li><a><button mat-icon-button routerLink = "/"><mat-icon>account_circle</mat-icon></button></a></li>	
		</ul>  
	</mat-toolbar> -->
<div class ="footer"> 
	<mat-toolbar>
		<div class = "home">
			<button mat-icon-button routerLink = "/">
				<mat-icon>home</mat-icon>
			</button>
		</div>
		<div class = "notifications">
			<button mat-icon-button routerLink = "/">
				<mat-icon>notifications_none</mat-icon>
			</button>
		</div>
		<div class = "gettone">
			<img src = "assets/gettone111.png" routerLink = "/">
		</div>
		<div class = "search">
			<button mat-icon-button routerLink = "/">
				<mat-icon>search</mat-icon>
			</button>
		</div>
		<div class = "account">
			<button mat-icon-button routerLink = "/">
				<mat-icon>account_circle</mat-icon>
			</button>
		</div>
	</mat-toolbar>
</div>



